@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root {
    --dark-color: #051933;
    --blue-color: #337ad1;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

.main-btn {
    background-color: transparent;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    transition: .3s ease-in-out;
}
.sec-btn{
    background-color: var(--yellow-color);
    color: var(--dark-color);
    transition: .3s ease-in-out;
}
.sec-btn:hover,
.sec-btn:focus {
    background-color: var(--yellow-color);
    color: var(--dark-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.logo {
    width: 100px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.main-btn:hover {
    background-color: var(--dark-color);
    color: var(--section-color);
    box-shadow: rgba(243, 242, 242, 0.2) 0px 2px 8px 0px;
}

.main-title::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: var(--dark-color);
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}
.bg-colored{
    background-color: var(--dark-color);
}
.navbar-sm {
    background-color: var(--dark-color);
}
.navbar-sm .navbar-text .icon{
    color: var(--yellow-color) !important;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: #000 !important;
}

.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item .nav-link:focus,
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--yellow-color) !important;
}

.navbar .search {
    border-left: 1px solid var(--dark-color);
}

.navbar .search svg {
    color: var(--dark-color);
    cursor: pointer;
}

.navbar .navbar-toggler {
    color: #fff;
    font-size: 25px;
    border-color: #fff;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

/* start landing */
.carousel .carousel-item {
    height: 100vh;
}

@media (min-width: 992px) {
    .carousel .carousel-item{
        margin-top: 112px;
        height: calc(100vh - 112px);
    }
}
.carousel .carousel-item img{
    height: 100vh;
    object-fit: cover;
}
.carousel-caption {
    position: absolute;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff; 
  }
.carousel .carousel-item img {
    object-fit: cover;
}

/* end landing */
/* start Features */
.features .icon-holder {
    height: 200px;
}

.features .icon-holder svg {
    left: 50%;
    transform: translate(-50%);
}

.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}

.features .icon-holder .icon {
    color: var(--blue-color);
    font-size: 65px;
}

.features .feat {
    color: var(--yellow-color);
}

/* end Features */
/* start our work */
.our-work {
    background-color: var(--section-color);
}

.our-work ul li.active {
    background-color: var(--blue-color);
    color: var(--section-color);
}

.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.our-work ul li:not(.active):hover {
    color: var(--blue-color);
}

.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.our-work .box::after {
    content: attr(data-work);
    position: absolute;
    background-color: #308fd290;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffffcc;
    transition: .3s;
    top: 5px;
    right: 5px;
    font-size: 1.5rem;
    transition: .5s ease-in-out;
    transform: translateX(calc(100% + 5px));
}

.our-work .box:hover::after {
    transform: translateX(0);
}

/* end our work */
/* start stuff */
.stuff .description {
    max-width: 500px;
}

/* end stuff */
/* start team */
.team {
    background-color: var(--section-color);
}

.team h2,
.techs h2 {
    color: var(--yellow-color);
}
.team .img{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
}
.team .box:hover .img{
    background-color: var(--dark-color);
    border-radius: 50%;
}
.team .social li{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--dark-color) !important;
    transition: all 0.3s ease 0s;
}
.team .social li svg{
    color: var(--dark-color) !important;
    text-decoration: none;
}
.team .box:hover .social li{
    background-color: var(--dark-color);
}
.team .box:hover .social li svg{
    color: #fff !important;
}
/* end team */
/*Start Project*/
.project {
    background-color: var(--dark-color);
}

/*end Project*/
/*Start Sub*/
.sub {
    background-color: var(--yellow-color);
}

.sub input {
    border: none;
    border-bottom: 1px solid #fff;
}

.sub input:focus {
    outline: none;
}

.sub input::placeholder {
    color: #fff;
}

/*End Sub*/
/*Start Blogs*/
.blog .card{
    cursor: pointer;
    transition: 0.2s;
}
.blog .card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*End Blogs*/
/*Start footer*/
.footer {
    background-color: #282828;
}
.footer li{
    cursor: pointer;
}
.footer li:hover{
    color: var(--section-color);
}
.footer .copy-right>span {
    color: var(--green-color);
}

.footer .copy-right div span {
    color: var(--yellow-color);
}

.footer .content ul svg {
    width: 20px;
    height: 20px;
}

.footer .facebook {
    background-color: #1877f2;
}

.footer .twitter {
    background-color: #1da1f2;
}

.footer .linkedin {
    background-color: #0077b5;
}

.footer .youtube {
    background-color: #ff0000;
}

/*end footer*/